body{
  background-color: white;
}

.Journey-cards {
  font-size: 1.5em;
  text-align: center;
  color: #000;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.card{
  color: #000 !important;
  border: 1px solid grey;
  margin: auto;
  padding: 0 3%;
  box-shadow: 3px 5px grey;
}

.card:hover{
  transform: translateX(-1.5%) translateY(-1.5%) !important;
  box-shadow: 6px 10px grey;
  cursor: pointer;
}

.card:active{
  transform:  translateY(3%) !important;
}

.cards{
  margin-top: 10% !important;
  padding: 1.5%;
}



.img-responsive{
  width:100%;
}

h2{
  color:black !important;
}
